@media screen and (max-width:1280px){
    .flrx-item input{
        max-width: 610px;
    }
    .form-itemContent{
        width: 64%;
    }
}


@media screen and (max-width:1200px) {
    .content-Left {
        margin-left: 75px !important;

    }
}

@media screen and(max-width:1030px) {

    .papka {

        width: 100%;

        min-height: 445px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}
@media screen and (max-width:992px){
    .content-blockItem{
        flex-direction: column;
        align-items: flex-start;
        gap: 16px 0;
    }
    .form-itemContent {
        width: 100%;
    }
}

@media screen and (max-width:991px) {
    .navbar-collapse {
        width: 968px;
        height: 430px;
        
    }
    .img{
        height: 2px;
      display: none;
    }
    
    .carousel-indicators img {
        max-width: 16px;
        width: 100%;
        min-height: 16px;
    }
   

    /* .raight-contanier {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column !important;
    } */

    /* .form {
        max-width: 768px;
        width: 100%;
        min-height: 305px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    } */


}

@media screen and (max-width:768px) {
    .smollScreen {
        display: flex;
    }

    .bigScreen {
        display: none;
    }

    img.smollScreen {
        width: 12px;
        height: 104px;
    }

    .col-lg-3.col-md-3.col-sm-12.content-image {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-block: 10px;
    }

    .wrapper-section {
        width: 100%;
    }

    .block span {
        max-width: 228px;
        width: 100%;
    }
}


@media screen and (max-width:510px) {
    .item1 {
        display: none !important;
    }

}
@media screen and (max-width:380px){
    .contentMartin img{
        width: 37px;
        height: 35px;
    }
    
}